body {
  background-color: #EFEFEA;
}
h1 {
}
p {
}
table, td, th {
  border: 1px solid black;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
}
